<!DOCTYPE html>
<html>
<head>
    <title>Admin Login - EduTrackX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">
        <h2>Admin Login</h2>

        <form action="/dashboard" method="get">
            <label>Username</label>
            <input type="text" name="username" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <button type="submit">Login</button>
        </form>
    </div>

</body>
</html>
